@import url(style/header.css);
*{ /*Seletor universal para reset*/

    padding:0px;
    margin:0px;

}




:root{ /*seletor raiz para variáveis*/
    --cor-de-fundo: #f36af3; 
    --cor-de-fundo: #00aeffc2;
    --cor-branco:#ffffff;

}
body{/*seletor body*/
    background-color:var(--cor-de-fundo);

}